.form {
	display: flex;
	flex-direction: column;
}

.form__group {
	display: flex;
	flex-direction: column;
	margin-bottom: 0.5em;

	label {
		padding-left: 15px;
	}

	.form__msg {
		font-size: 0.875rem;
		padding-left: 15px;
	}

	input {
		// flex: 1 1 150px;
		height: 40px;
	}

}

.btn {
	margin-top: 1.5em;
}