.frontpage {
	display: grid;
	grid-template-columns: minmax(2em, 1fr) minmax(500px, 5fr) minmax(2em, 1fr);
	grid-template-rows: 200px auto;
	grid-template-rows: minmax(100px, 1fr) minmax(400px, 4fr);
	grid-template-areas: 
	". intro ."
	". projects .";
	grid-gap: 2em 0;
}

.frontpage-intro {
	// grid-area: content-1;
	// grid-area: intro;
	box-shadow: none;
	// TODO - Fallback for clamp

	h1 {
		color: #8f1421;
		color: #ca1d24;
		color: #b22222;
		color: #DD0048;
		/* color: #ff2975; */
		color: #16B4DE;
		font-size: 3.5rem;
		font-size: clamp(1.875rem, 6.5vw, 3.5rem);
		margin: 0 0 0.25em;

	}

	h2 {
		font-size: clamp(1.25rem, 3.5vw, 2rem);

	}
}

.portfolio.frontpage-portfolio {
	grid-row: content-2 / content-3;
	display: flex;
	flex-wrap: wrap;

	h2 {
		flex: 1 1 100%;
	}

	.portfolio-card {
		flex: 1 1 275px;
		height: 300px;
	}
}

@media (min-width: 961px) {
	.portfolio.frontpage-portfolio {
		display: grid;
		grid-row: content-2 / content-3;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: 50px 1fr;
	
		.portfolio-card {
			height: auto;
		}
	}
}

.frontpage-portfolio__header {
	grid-column: 1 / -1;
	margin: 0;
}

@media (min-width: 791px) {
	.portfolio.frontpage-portfolio {
		grid-area: content-3;
	}
}