.socialLinks {
	grid-area: aside;
	display: flex;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4), -5px -5px 10px rgba(218, 218, 218, 0.04);
	border-radius: 15px;
	padding: 5px;

	a {
		display: flex;
		justify-content: center;
		flex: 0 1 auto;
		height: 100%;

		svg {
			height: 100%;
		}
	}
}

@media (min-width: 791px) {
	.socialLinks {
		flex-direction: column;
		position: fixed;
		right: 30px;
		top: 50%;
		padding: 10px;
		transform: translateY(-50%);
		box-shadow: inset 14px 14px 28px #0a0a0a, inset -14px -14px 28px #1a1a1a;
		box-shadow: 14px 14px 28px #0a0a0a, -14px -14px 28px #1a1a1a;
	
		a {
			max-width: 50px;
			margin: 5px 0;
		}
	}

}